SA_PASSWORD=Your_strong_password_123!
ACCEPT_EULA=Y
MSSQL_PID=Developer
SQLSERVER_HOST_PORT=1433

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST_PORT=5673
RABBITMQ_MANAGEMENT_HOST_PORT=15673

SEQ_FIRSTRUN_ADMINPASSWORD=Admin12345!
SEQ_HOST_PORT=5341

JAEGER_UI_HOST_PORT=16686
OTLP_GRPC_HOST_PORT=4317
OTLP_HTTP_HOST_PORT=4318
